* {
    box-sizing: border-box;
}


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    padding: auto;
}

body {
    display: block;
    background-color: #FFF0EB;
    color: #2F4123;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
}

/* HEADER ****************************************************/

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #FFE6B8;
    color: #2F4123;
    border-bottom: none;
}

header h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: normal;
}

header a {
    color: #2F4123;
    text-decoration: none;
}

/* MAIN ****************************************************/

main {
    align-items: center;
    flex: 1;
    padding: 1rem;
    max-width: 600px;
}

main a {
    color: #2F4123;
    text-decoration: none;
}

h2 a{
    color: #B7DE7C;
    text-decoration: none;
}

.new-post a{
    text-decoration: none;
}

.new-post a:hover{
    text-decoration: underline;
}

/* NAV ****************************************************/

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    color: #2F4123;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: #2F4123;
}



/* LISTS ****************************************************/

ul {
    list-style: none;
    padding: 3px;
    width: max-content;
    margin: 1rem auto;
    
}

ul li {
    margin-bottom: 0.3rem;
    display: block;
    width: 100%;
    gap: 1rem;
    background-color: #FFE6B8;
    border-radius: 0.3rem;
    justify-content: space-between;
    
}

ul li a {
    display: block;

    border-radius: 0.3rem;
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}




.p5{
    color: rgb(255, 124, 124); 
    border-radius: 1rem;
}

.p4{
    color: rgb(255, 207, 135); 
    border-radius: 1rem;
}

.p3{
    color: rgb(247, 255, 129); 
    border-radius: 1rem;
}

.p2{
    color: rgb(153, 255, 144); 
    border-radius: 1rem;
}

.p1{
    color: rgb(155, 252, 255); 
    border-radius: 1rem;
}

.completedHeading{
    display: flex;
    justify-content: center;
}

#section{
    display: flex;
}


#post-list{
    display: block;
    margin-bottom: 0.3rem;
    width: 100%;
    justify-content: center;
    gap: 0rem;
    background-color: #FFE6B8;
    border-radius: 0.3rem;
    list-style-type: none;
    text-decoration: none;
    padding: 1rem 1rem;
}

#post-view{
    display: block;
    margin-bottom: 0.3rem;
    width: 100%;
    justify-content: center;
    gap: 0rem;
    background-color: #FFE6B8;
    border-radius: 0.3rem;
    list-style-type: none;
    margin-left: 0rem;
    text-decoration: none;
    padding: 1rem 1rem;
}

#post-list img{
    display: flex;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 0.3rem;
}

#post-view img{
    display: flex;
    width: 100%;
    border-radius: 0.3rem;
}

#post-list a :hover{
    color: #B7DE7C;
    text-decoration: none;
}



#new-post {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-color: slategray;
}

#new-post a {
    display: flex;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    background-color: slategray;
    border-radius: 3rem;
    color: white;
}

#comment {
    padding: 1.5rem;
    background-color: #FFE6B8;
    border-radius: 1rem;
    width: 370px;
}


#comment img {
    background-color: white;
    border-radius: 100%;
    
}


/* TABLES ****************************************************/

table{
    margin-bottom: 1rem;
    width: max-content;
    margin: 1rem auto;
    justify-content: space-between;
    gap: 1rem;
    border-collapse: separate;
    border-color: slategray;
    border-radius: 0.3rem;
    background-color: rgb(103, 58, 107);
    
}

td a{
    color: white;
    text-decoration: underline;
}


td a:hover {
    color: rgb(255, 127, 249);
}

table, th, td {
    
    padding: 15px;
    
    text-align: center;
 }

td:first-child, th:first-child {
    border-left: none;
}


 /* FORMS ****************************************************/

form {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #FFE6B8;
    border-radius: 0.3rem;
}

form label{
    color: #2F4123;
}

input[type=text], input[type=email], input[type=password]{
    width: auto;
    height: 2rem;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.3rem;
    background-color: #FFF0EB;
    color: #2F4123;
    outline: none;
    border: 2px solid #2F4123;
}

input[type=submit]{
    width: auto;
    height: 2rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    background-color: #FFF0EB;
    color: #2F4123;
    outline: none;
    border: 2px solid #2F4123;
}

textarea{
    width: auto;
    height: auto;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.3rem;
    background-color: #FFF0EB;
    color: #2F4123;
    outline: none;
    border: 2px solid #2F4123;
    font-size: inherit;
    resize: none;
}

input[type=text]:focus{
    border: 3px solid #B7DE7C;
}

input[type=file]::file-selector-button{
    border: 3px solid #2F4123;
    padding: 6px 12px;
    border-radius: 0.3rem;
    background-color: #FFF0EB;
}

#priority{
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    color: white;
}

input, select {
    display: block;
    font-size: inherit;
}

input[ type = 'radio' ]{
    font-size: inherit;
}

input:not(:last-child) select :not(:last-child) {
    margin-bottom: 1rem;
}

/* FOOTER ****************************************************/

footer {
    padding: 1rem;
    text-align: center;
    background-color:  #FFE6B8;
    font-size: 0.8rem;
    color: #2F4123;
}